@media only screen and (max-width:600px){
    #addid{
        width: 80%;
    }
}
form {
    border-radius: 5px;
    background-color: #1e7eb6;
    padding: 20px;
}
.fields{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: capitalize;
}